
You are logged in as <b> <%= @user.email_address %> </b> <br> <br> 

<a class="button" href="/reviews"> See all of the course reviews </a> <br> <br> 

<ul>
<%@Reviews.each do |review|%>
<%=review.text%>
</ul>



<br> <br> <br> <br> 
<a class="button" href="/logout"> Log Out </a>