
You are logged in as <b> <%= @user.email_address %> </b> <br> <br> 

<a class="button" href="/reviews/new"> Review a Course </a> <br> <br> 

<a class="button" href="/reviews"> See all of your reviews </a> <br> <br> 

<br> <br> <br> <br> 
<a class="button" href="/logout"> Log Out </a>