<h1> Review a course: </h1>

<p style = "font-family: monospace">

<form action="/reviews" method="post">
Pick a course: <br> <br> <% @courses.each do |course| %>
    <input type="radio" name="user[course_id][]" value="<%= course.id %>" id="<%= course.id %>"> <%= "\"#{course.title}\" by #{course.professor}" %> <br> <br> 
<% end %> 

Write a review: <br> <br> <input type="text" name="user[review]"> 

<br> <br> <br> 
<input type="submit" name="submit" id="submit" value="Submit"> 
</form> 

</p>