<h1> Review a course: </h1>

<p style = "font-family: monospace">

<form action="/reviews" method="post">
Pick a course: <br> <br> <% @courses.each do |course| %>
    <input type="radio" name="user[course_id][]" value="<%= course.id %>" id="<%= course.id %>"> <%= "#{course.category_id}:#{course.title} taught by Professor #{course.professor} Average Rating: #{course.rating}/5 stars" %> <br> <br> 
<% end %> 

Write a review: 
<textarea rows="4" cols="50" name="user[review]">
</textarea>

<br> <br> <br> 
<input type="submit" name="submit" id="submit" value="Submit"> 
</form> 

</p>