<!DOCTYPE html>
<html>
<body>

<p style = "monospace; font-size:40px">
<div style="text-align:center">
<h1><strong>Course Reviewer<strong><h1>
<div>
</p>

<p style = "monospace">
<a class="button" href="/signup">Sign Up</a>  <br> 
<a class="button" href="/login">Log In</a> <br>
<a class="button" href="/logout">Log Out</a> 

<p>
<div style="text-align:center">
<img src="https://www.chevening.org/wp-content/uploads/2019/07/missing-course.jpg" alt="welcome" height=450 width=600>
</div>
<p>
</body>
</html>